/* data-url causes Parcel to inline the resource so that it loads with CSS, preventing the temporary display of an incomplete page. */
@font-face {
  font-family: dseg;
  src: url(data-url:assets/DSEG7Classic-Regular.woff2);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  touch-action: manipulation;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Prevent elastic scrolling on ios */
html {
  overflow: hidden;
}

.parent {
  min-height: 100%;
  background-color: rgb(13, 13, 13);
  position: relative;
}

html,
body,
.parent,
.frame {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.frame {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 2;
  container-type: inline-size;
}

.dust {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: url(data-url:assets/green-dust-and-scratches.png);
  opacity: 0.2;
  background-size: contain;
  pointer-events: none;
}

.blur {
  position: absolute;
  backdrop-filter: blur(0.4);
  pointer-events: none;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.microwave {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 4fr;
  background-color: black;
  container-type: inline-size;
}

.display {
  container-type: inline-size;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4cqw;

  .lcd {
    border-radius: 3cqw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
    background-color: #1f2217;

    .segments {
      container-type: inline-size;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        position: absolute;
        font-family: dseg;
        font-size: 26cqw;

        &.green {
          z-index: 1;
          color: rgb(0, 200, 0);
          text-shadow: 1px 1px 10px rgb(0, 180, 0);

          &.dim {
            color: rgb(0, 100, 0);
            text-shadow: 1px 1px 10px rgb(0, 80, 0);
          }
        }

        &.ghost {
          z-index: 0;
          color: #272b1d;
        }
      }
    }
  }
}

.buttonpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: 4cqw;
  margin-top: 0;
  gap: 1.5cqw 3cqw;
  container-type: inline-size;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3cqw;
  text-align: center;
  container-type: inline-size;
  padding: 1cqw;
  cursor: pointer;

  span {
    color: #989898;
    font-size: 20cqw;
  }

  &.white {
    border: 0.5cqw solid rgb(226, 226, 226);
  }

  &.black {
    border: 0.5cqw solid dimgrey;
  }

  &.number {
    background-color: #333;
    margin: 0 4cqw 0 4cqw;

    span {
      font-size: 40cqi;
    }
  }

  &.startstop {
  }

  &.stopcancel {
    display: flex;
    flex-direction: column;

    span {
      padding: 2cqi;
    }

    span:first-child {
    }

    span:nth-child(2) {
      border-top: 2cqi solid #989898;
    }
  }
}
