* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.parent {
  min-height: 100vh;
  background-color: dimgray;
  position: relative;
}

.frame {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 2;
}

.microwave {
  display: grid;
  height: calc(100% - 16px);
  grid-template-rows: 1fr 4fr;
  margin: 8px;
  background-color: black;
}

.buttonpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: 5%;
  gap: 1% 5%;
  container-type: inline-size;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4cqw;
  color: white;
  text-align: center;
  container-type: inline-size;
  padding: 1cqw;

  span {
    font-size: 20cqw;
  }

  &.white {
    border: 0.75cqw solid white;
  }

  &.black {
    border: 0.75cqw solid dimgrey;
  }

  &.number {
    background-color: #333;
    margin: 0 4cqw 0 4cqw;

    span {
      font-size: 40cqi;
    }
  }

  &.startstop {
  }
}
