@font-face {
  font-family: dseg;
  src: url(DSEG7Classic-BoldItalic.woff2);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.parent {
  min-height: 100vh;
  background-color: dimgray;
  position: relative;
}

.frame {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 2;
}

.microwave {
  display: grid;
  height: calc(100% - 16px);
  grid-template-rows: 1fr 4fr;
  margin: 8px;
  background-color: black;
  container-type: inline-size;
}

.display {
  container-type: inline-size;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4dvh;

  .lcd {
    border-radius: 1dvh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    container-type: inline-size;
    background-color: rgb(23, 23, 23);

    .segments {
      container-type: inline-size;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        position: absolute;
        font-family: dseg;
        font-size: 10dvh;
        z-index: 1;
        color: rgb(0, 227, 0);

        &.ghost {
          z-index: 0;
          color: rgb(53, 53, 53);
        }
      }
    }
  }
}

.buttonpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin: 2dvh;
  gap: 1dvh 2dvh;
  container-type: inline-size;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4cqw;
  color: white;
  text-align: center;
  container-type: inline-size;
  padding: 1cqw;

  span {
    font-size: 20cqw;
  }

  &.white {
    border: 0.5cqw solid white;
  }

  &.black {
    border: 0.5cqw solid dimgrey;
  }

  &.number {
    background-color: #333;
    margin: 0 4cqw 0 4cqw;

    span {
      font-size: 40cqi;
    }
  }

  &.startstop {
  }
}
